
// test css box model
// *{outline: thin dashed red}

// imports 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


// variables & mixins
$base_color: #ff9a9a;

$tablet-width: 768px;

@mixin desktop {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}



//initials
*{ 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 2px;
}

html{  scroll-behavior: smooth; }



#root{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

section{
  // background: green;
  max-width: 98vw;
  margin: auto;
  display: flex;
}


ul.homeView{
  display: flex;
  li{
    display: inline-block;
    padding: .5rem;
    margin: .5rem;

    background: $base_color;
  }
}















.imageGallery{
  ul{
    display: grid;
    max-width: 100%;
    grid-template-columns: 50% 50%;
    // column-count: 5;
    
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
  }
  li{
    // max-width: 100%;
    display: inline-block;
    padding: .2rem;
    img{
      border-radius: 10px;
      width: 100%;
    }
    span{
      text-overflow: hidden;
      max-height: 1rem;
    }
    a{
      color: black;
      cursor: pointer;
      text-decoration: none;
    }
  }
}








.spacey{
  height: 50px;
}

.navbar, .navbarBottom {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width: 100%;
}

.navbar{
  top: 0;
}

.navbarBottom{
  
  bottom: 0;
}

.navbar, .navbarBottom button {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

footer{
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  .MuiSvgIcon-root:hover{
    background: rgb(223, 223, 223);
    border-radius: 5px;
  }
}

.navbarBottom{
  display: flex;
  justify-content: center;
  .buttons{
    // margin: auto;
    
    button{
      color: black;
      padding: .8rem;
      border-radius: 10px;
      margin: .3rem;
    }
  }
}


input{
  width: 90%;
  margin: 0;
  padding: .5rem;
  border: none;
  
}

.inputBar{
  border: none;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  button{
    border: none;
    background: white;
    margin: 0rem 0.5rem;
    padding: .3rem;
  }
}

.deleteBtn{
  border: none; 
  background: none;
  padding: .2rem;
  color: white;


}

.queryList{
    list-style-type: none;
}




@include desktop {
  #root{
    section{
      // background: yellow;
      max-width: 90vw;
      ul{
        grid-template-columns: 24% 24% 24% 24%;
      }
    }
  }
}

